.FruitDiv1{
    font-size: 180%;
    background-color: aqua;
    color: rgb(234, 57, 57);
    border: 2px double black;
    width: 100%;
}
.fruitlogo1{
    width: 200px;
    height: 100px;
    float: left;
    padding: 2%;
    border-radius: 50%;
}
.fruitlogo2{
    width: 200px;
    height: 150px;
    border-radius: 10%;
}
.FruitDiv2{
    width: 100%;
    float: left;
}
.firstfruit{
margin:2%;
width:25%;
padding:2%;
border: 3px double rgb(3, 3, 3); 
float:left; 
}
.button1{
    display: inline;
    margin-left: 1%;
    width: 10%;
    background-color: whitesmoke;
    font-size: 120%;
}
.mainDiv2{
    width: 100%;
}
.twoDiv{
    width: 41%;
    padding: 3%;
    float:left;
    margin: 1%;
    border: 3px double rgba(10, 6, 129, 0.759);
    background-color: rgb(218, 231, 233);
}
.logo1{
    width:330px;
    height:230px;
    border-radius: 10%;
    float:top right;
}
.button{
    padding: 1%;
    width: 20%;
    margin-left: 20%;
    border-radius: 50%;
    background-color: rgb(108, 245, 195);
    color: rgb(190, 11, 11);
    font-size: 140%;
    text-shadow:2px 2px 4px rgb(241, 75, 119);
    font-family: 'Times New Roman';
}
.button:hover{
    color:whitesmoke;
}
.heading{
    font-size: 300%;
    color:rgb(34, 14, 209);
    text-transform: uppercase;
}
.logo{
    width: 7%;
    border-radius: 50%;
    float:right;
    margin-right: 5%;
}


.thiredDiv{
    width: 100%;
}
.threeDiv{
    width: 26%;
    padding:2%;
    float: left;
    margin: 1%;
    border: 3px double rgba(10, 6, 129, 0.759);
    background-color: rgb(218, 231, 233);
}
.fourthDiv{
    text-align: center;
    font-size: 150%;
    padding: 3%;
    
}
.hover:hover{
    text-decoration: underline ;
    color: rgb(216, 13, 135);
}

.logo2{
    width:20px;
    height:20px;
    display: inline;
    border-radius: 50%;
}
.heading1{
    font-size: 250%;
    color:white;
    text-transform: uppercase;
    text-shadow:2px 2px 4px rgb(31, 5, 145);
}